body {
    margin: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 100vh;
}

#clock {
     width: 30rem;
     height: 30rem;
     border: 5px solid black;
     border-radius: 50%;
     margin: 50px auto; /*Pushes the content to center*/
     position: relative;
     padding: 40px;
     -webkit-box-shadow: 
         0 0 0 9px rgba(0, 0, 0, 0.02), /*Outside box shadow*/
         inset 0 0 0 1px #ccc,
         inset 0 0 5px black, /*Inside box shadow*/
         0 0 10px rgba(0, 0, 0, 0.9);
     box-shadow: 
         0 0 0 9px rgba(0, 0, 0, 0.02), /*Outside box shadow*/
         inset 0 0 0 1px #ccc,
         inset 0 0 5px black, /*Inside box shadow*/
         0 0 10px rgba(0, 0, 0, 0.9); /*Creating a 3D clock*/
}

#second-hand {
    width: 1px;
    height: 44%;
    background-color: black;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    position: absolute;
    top: 5%;
    left: 51%;
}

#minute-hand {
    margin-left: -1px;
    width: 3px;
    height: 39%;
    background-color: black;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    position: absolute;
    top: 10%;
    left: 51%;
}

#hour-hand {
    width: 5px;
    height: 30%;
    background-color: black;
    -webkit-transform-origin: 50% 80%;
    transform-origin: 50% 80%;
    position: absolute;
    top: 19%;
    left: 50%;
    margin-left: 4px;
}


.num {
    height: 100%;
    position: absolute;
    left: calc(50% - 10px);
    top: 0;
}

.num div {
    font-size: 20pt;
    width: 1em;
    line-height: 2em;
    color: darkblue;
    text-align: center;
    vertical-align: middle;
}

.num1 {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.num1 div{
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

.num2 {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}

.num2 div{
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

.num3 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.num3 div{
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.num4 {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
}

.num4 div{
    -webkit-transform: rotate(-120deg);
    transform: rotate(-120deg);
}

.num5 {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
}

.num5 div{
    -webkit-transform: rotate(-150deg);
    transform: rotate(-150deg);
}

.num6 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.num6 div{
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.num7 {
    -webkit-transform: rotate(210deg);
    transform: rotate(210deg);
}

.num7 div{
    -webkit-transform: rotate(-210deg);
    transform: rotate(-210deg);
}

.num8 {
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg);
}

.num8 div{
    -webkit-transform: rotate(-240deg);
    transform: rotate(-240deg);
}

.num9 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.num9 div{
    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg);
}

.num10 {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
}

.num10 div{
    -webkit-transform: rotate(-300deg);
    transform: rotate(-300deg);
}

.num11 {
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg);
}

.num11 div{
    -webkit-transform: rotate(-330deg);
    transform: rotate(-330deg);
}



    
